APP_ENV=local
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5433/appdb

# Change this in real deployments
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
